# Dependencies
node_modules
assets/components
public/fonts/fontawesome-*
public/fonts/FontAwesome.otf

# User configuration
.env

# Logs
*.log

# Generated
bundle.css
bundle.js
*.map
public/index.html