.button {
    -webkit-appearance: none;
    padding: 10px 25px;
    border: none;
    background: @color-purple;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
