.configure {
    .full-width;
}

.configure__content {
    position: relative;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 0 0 rgba( 0, 0, 0, 0.1 );
}

.configure.disabled .configure__content:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.8 );
}

.configure__disabled-content {
    display: none;
}

.configure.disabled .configure__disabled-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY( -50% );
    display: block;
    text-align: center;
    color: white;
}
