.configure__content {
    .panel;
    position: relative;
    text-align: center;
}

.configure.disabled .configure__content:before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.8 );
}

.configure__disabled-content {
    display: none;
}

.configure.disabled .configure__disabled-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY( -50% );
    display: block;
    text-align: center;
    color: #fff;
}

.configure__heading {
    margin: 0 0 30px;
}

.configure__steps {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.configure__steps > li {
    position: relative;
    margin: 40px 0;
    padding-left: 70px;
    counter-increment: configure-step;

    &:first-child {
        margin-top: 0;
    }
}

.configure__steps > li:before {
    content: counter( configure-step );
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: @color-purple;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.configure__submit {
    width: 200px;
}
