.connection {
    .one-half;
    margin-bottom: 20px;
}

.connection__content {
    .panel;
    position: relative;
    height: 340px;
    text-align: center;
}

.connection__name {
    .visually-hidden;
}

.connection__icon {
    font-size: 48px;
}

.connection__description {
    margin: 14px 0;
}

.connection.github .Select {
    display: none;
}

.connection__actions {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.connection__actions .Select {
    margin: 4px 0;
}

.connection__actions .button {
    width: 100%;
    margin: 6px 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.connection__manual-entry-divider {
    display: flex;
    align-items: center;
    text-align: center;

    &:before,
    &:after {
        content: '';
        flex: 1;
        border-bottom: 1px solid @color-purple;
        opacity: 0.2;
    }

    &:before {
        margin-right: 12px;
    }

    &:after {
        margin-left: 12px;
    }
}

.connection__authorized-account {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.8 );
    display: none;
}

.connection.connected .connection__authorized-account {
    display: block;
}
