.integrations {
    .panel;
    text-align: center;
}

.integrations__current {
    width: 100%;
    text-align: left;
}

.integrations__current .integrations__no-results {
    padding: 18px 0;
    font-style: italic;
    text-align: center;
}

.integrations__events {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.integrations__add-new {
    display: inline-block;
    margin-top: 20px;
}
