.tabs-list__navigation {
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding-left: 0;
}

.tabs-list__navigation-item {
    display: inline-block;
}

.tabs-list__navigation-link {
    display: block;
    padding: 14px 30px;
    background-color: #ddd;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: lighten( @text-color, 20% );

    &:hover {
        color: @text-color;
    }
}

.tabs-list__navigation-item.is-active .tabs-list__navigation-link {
    background-color: #fff;
    color: @text-color;
}

.tabs-list__child-content {
    display: none;

    &.is-active {
        display: block;
    }
}
